@import "~bootstrap/scss/bootstrap.scss";

#player {
    display: block;
    width: 100vw;
    height: 50vh;
}

/* NOTE: Uncomment to show guidelines around each component */
/*
.yx-component {
    padding: 2px;
    margin: 2px;
    border: 2px dashed rgb(63, 63, 63);
}
*/